<body>
  	<%= render 'layouts/flash_messages' %>
  <P>
    <strong>Title:<%= @book.title %></strong>
  </P>
  <p>
    <strong>Body:<%= @book.body %></strong>
  </p>
  <%= link_to 'Edit', '/books/:id/edit' %>
   |
  <%= link_to 'Back', '/books' %>
</body>